<nav class="nav">
  <a class="nav-link" href="/events">Eventos</a>
  <a class="nav-link" href="/subscriptions/mysubs">Minhas inscrições</a>
  <a class="nav-link" href="/cert">Validar certificado</a>
  <a class="nav-link" href="/logout">Logout</a>
</nav>