<h3>Criar sua conta agora:</h3>
<div class="card">
    <div class="card-body">
        <form action="/users/register" method="post">
            <label for="name" >Nome: </label>
                <input type="text" name="name" class="form-control" required>
            <label for="cpf" >CPF: </label>
                <input type="text" name="cpf" class="form-control" required>
            <label for="email" >Email: </label>
                <input type="email" name="email" class="form-control" required>
            <label for="senha" >Senha: </label>
                <input type="password" name="password" class="form-control" required>
            <label for="senha 2" >Repita sua senha: </label>
                <input type="password" name="password2" class="form-control" required>
            <button type="submit" class="btn btn-success mt-2">Criar conta</button>
        </form>
    </div>
</div>