<h2>Realizar inscrição no evento:</h2>
<hr>
<form action ="/subscriptions/subscriptions/add" method="POST">
    <input type="hidden" name="event" value="{{event}}"> 
    <input type="hidden" name="user" value="{{cpf}}">
    <button type="submit" class="btn btn-success mt-2">Realizar inscrição</button>
</form>