<h3>Validar certificado:</h3>
<div class="card">
    <div class="card-body">
        <form action="/cert/validate" method="GET">
            <label for="name" >Código do certificado: </label>
                <input type="text" name="id" class="form-control" required>
            <button type="submit" class="btn btn-success mt-2">Validar</button>
        </form>
    </div>
</div>